# Bot sozlamalari
ADMINS=12345678,12345677,12345676
BOT_TOKEN=123452345243:Asdfasdfasf

# PostgreSQL
DB_HOST=postgres
DB_PORT=5432
DB_NAME=tiinchrobot
DB_USER=botuser
DB_PASS=botpassword

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Pyrogram (my.telegram.org dan oling)
API_ID=12345678
API_HASH=abcdef1234567890abcdef1234567890

# Umumiy
ip=localhost
